<%- include("../partials/header") %>
    <%- include("../partials/navbar") %>

        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6" style="margin: 20px auto">
                    <form class="needs-validation" action="/patients" method="POST" novalidate>
                        <div class="mb-3">
                            <label for="name" class="form-label">Name:</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter Patient's Name"
                                name="patient[name]" />

                        </div>
                        <div class="mb-3">
                            <label for="img" class="form-label">Image URL:</label>
                            <input type="text" class="form-control" id="img" placeholder="Image URL"
                                name="patient[img]" />

                        </div>
                        <div class="mb-3">
                            <label for="price" class="form-label">Age:</label>
                            <input type="number" class="form-control" id="age" placeholder="Enter Patient's Age"
                                name="patient[age]" />

                        </div>

                        <div class="mb-3">
                            <label for="price" class="form-label">Gender:</label>
                            <input type="text" class="form-control" id="gender" placeholder="Enter Patient's Gender"
                                name="patient[gender]" />

                        </div>

                        <div class="mb-3">
                            <label for="price" class="form-label">Report:</label>
                            <input type="text" class="form-control" id="report" placeholder="Enter Patient's Report"
                                name="patient[report]" />

                        </div>
                        <div class="mb-3">
                            <label for="desc" class="form-label">More Detail:</label>
                            <textarea class="form-control" id="detai" cols="30" rows="10"
                                name="patient[detail]"></textarea>

                        </div>
                        <button type="submit" class="btn btn-success">Add patient</button>
                    </form>
                </div>
            </div>
        </div>


        <%- include("../partials/footer") %>